@font-face {
    font-family: domain;
    src: url(./knop.ttf);

}
@font-face {
    font-family: pepal;
    src: url(./papel.ttf);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
#main{
    background-color: #131212;
    overflow-x: hidden;
}
#page1{
    height: 110vh;
    width: 100vw;
    background-color: #C0B8AF;
    position: relative;
    overflow: hidden;
}
#nav{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content:space-between;
    border-bottom: 2px solid #222;
}
#nav img{
    height: 32px;
    width: 30%;
}
#nav h5{
    font-size: 20px;
    font-weight: 90;
    width: 30%;
}
#nav i {
    width: 30%;
    text-align: right;
}
#elems{
    /* background-color: red; */
    height: 440px;
    display: flex;
    padding: 40px 50px;
    align-items: center;
    justify-content: space-between;
}
#elems1{
    width: 30%;
    height: 100%;
    /* background-color: blue; */
}
#elems1 h4{
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: -1px;
    font-weight: 150;
    font-family: canopee;
}
#elems1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#elems1 h4 span{
    background-color: #BA3C12;
    color: #fff;
    font-weight: 100;
    font-size: 25px;
    padding: 4px;
    border-radius: 5px;
}
#elems1 p{
    font-size: 23px;
    font-weight: 100;
    font-family: domain ;
    color: #0f0c0c;
}
#elems2{
    width: 30%;
    height: 100%;
    border-left: 2px solid #282828ac;
    border-right: 2px solid #222222bb;
    padding: 20px 60px;
    text-align: center;
    
}
#elems2 h2{
    font-family: canopee;
    font-size: 75px;
    font-weight: 100;
}
#elems2 h3{
    font-family: canopee;
    font-size: 45px;
    font-weight: 100;
    color: #131212;
    margin: 42px 0;
}
#elems2 p{
    font-family: domain;
    font-size: 20px;
    color: #131212;
}
#image-div img{
    height:100% ;
    width: 100%;
    object-fit: cover;
    border:1px solid #222;
    transition: all ease 0.6s;
}
#image-div:hover img{
    scale: 1.1;
}

#elems1{
    width: 30%;
    height: 100%;
}
#elems1 h4{
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: -1px;
    font-weight: 150;
    font-family: canopee;
}
#elems3 h4 span{
    background-color: #BA3C12;
    color: #fff;
    font-weight: 100;
    font-size: 25px;
    padding: 4px;
    border-radius: 5px;
}
#elems1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#elems3{
    width: 30%;
    height: 100%;
}
#elems3 h4{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 150;
    font-family: canopee;
}
#elems3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#elems3 p{
    font-size: 23px;
    font-weight: 100;
    font-family: domain ;
    color: #0f0c0c;
}
#page1 h1{
    font-size: 700px;
    font-weight: 100;
    letter-spacing: -5px;
    background-color: #1C1C1A;
    color: #C4BCB3;
    line-height: 580px;
    width: 96%;
    margin-left: 2%;
    font-family: canopee;
}
#page2{
    height: 150vh;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    color: #1C1C1A;
    align-items: center;
    justify-content: space-between;
    padding: 90px 40px;
}
#page2-left{
    height: 100%;
    width: 35%;
    padding-right: 50px;
    border-right: 1px solid #232121;
}

#page2-left h2{
    font-size: 150px;
    line-height: 170px;
    letter-spacing: -5px;
    font-family: canopee;
    font-weight: 100;
}
#page2-left h2 span{
    font-size: 260px;
}

#page2-left img{
    height: 60%;
    width: 100%;
    object-fit: cover;
}
#page2-left p{
    font-size: 34px;
    font-family: canopee;
    color: #1C1C1A;
    margin-top: 20px;
   
}
#page2-right{
    height: 100%;
    width: 60%;
    padding: 0 60px;

}
#page2-right img{
    height: 53%;
    width: 100%;
    object-fit: cover;

}
#page2-right h1{
    /* line-height: 180px; */
    font-size: 140px;
    letter-spacing: -2px;
    font-weight: 200;
    font-family: canopee;
}